/* RESET STYLES */

p, h1, h2, h3, blockquote, figure, header, body {
    margin: 0rem;
}

ul {
    margin: 0rem;
    padding: 0rem;
    list-style-type: none;
}

button {
    border: none;
    margin: 0;
    padding: 0;
    width: auto;
    overflow: visible;
    background: transparent;
    /* inherit font & color from ancestor */
    color: inherit;
    font: inherit;
    /* Normalize `line-height`. Cannot be changed from `normal` in Firefox 4+. */
    line-height: normal;
    /* Corrects font smoothing for webkit */
    -webkit-font-smoothing: inherit;
    -moz-osx-font-smoothing: inherit;
    /* Corrects inability to style clickable `input` types in iOS */
    -webkit-appearance: none;
}

button:active {
    outline: none;
}

button::-moz-focus-inner {
    border: 0;
    padding: 0;
}

/* END RESET STYLES */

/* VARIABLES */

:root {
    --main-accent-color: #8F2027;
}

/* END VARIABLES */

/* General section/content spacing */

.sectionContent {
    width: 85%;
    margin: 4rem auto;
}

p {
    padding-bottom: 0.7em;
}

h1, h2 {
    padding-bottom: 1.6em;
}

h3 {
    padding-bottom: 0.7em;
}

.sectionContent>*:last-child {
    padding-bottom: 0rem;
}

main>section {
    margin: 0rem 0rem;
    overflow: auto;
}

/* END General spacing */

/* Misc */

button {
    cursor: pointer;
}

img {
    max-width: 100%;
    height: auto;
}

/* Figure/blockquote stuff... */

.AccentIcon, .AccentIcon path, .AccentIcon line, .AccentIcon polygon, .AccentIcon circle, .AccentIcon polyline {
    fill: none;
    stroke: var(--main-accent-color);
}

.FilledIcon, .FilledIcon path, .FilledIcon line, .FilledIcon polygon, .FilledIcon circle, .FilledIcon polyline {
    fill: var(--main-accent-color);
}

figure .AccentIcon {
    width: 5rem;
    height: auto;
    padding-bottom: 1.5rem;
    display: block;
    margin: 0 auto;
}

figure {
    background-color: #FFF;
    border-radius: 20px;
    margin-bottom: 1.75rem;
    box-shadow: 1px 1px 20px 0px rgba(0, 0, 0, 0.2);
}

figure blockquote {
    border-radius: 0 0 20px 20px;
}

#BlogWidgets figure {
    box-shadow: 1px 1px 20px 0px rgba(0, 0, 0, 0.3);
    /* It is on a grey background, so darker */
}

figure img {
    /* TODO The fact that figure styling applies to 
    different kinds of widgets in a non-modular/non-elegant
    way is a nightmare */
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
    display: block;
}

blockquote {
    padding: 1.5rem;
    font-size: 0.9em;
    line-height: 1.25rem;
    text-align: center;
    background-color: #FFF;
}

.testimonial {
    position: relative;
    margin-bottom: 2rem;
    padding-top: 2rem;
}

blockquote footer {
    font-size: 1em;
}

.quoteIcon {
    fill: var(--main-accent-color);
    width: 4rem;
    height: auto;
    position: absolute;
    left: 50%;
    top: 0;
    transform: translate(-50%, -45%);
}

blockquote:last-of-type {
    padding-bottom: 1.5rem!important;
    /* More toxic masculinity */
}

#BlogWidgets h3 {
    text-align: center;
    padding: 1.5rem;
}

#BlogWidgets a:link, #BlogWidgets a:active, #BlogWidgets a:visited, #BlogWidgets a:hover {
    text-decoration: none;
}

.IconFigures figure {
    padding: 1.5rem!important;
    /* A man's gotta do what a man's gotta do. */
}

.IconFigures figure p {
    padding: 0;
}

.portfolioSection img {
    padding-bottom: 1rem;
}

/* Header */

#MainHeader {
    position: sticky;
    top: 0px;
    z-index: 9;
    background-color: #fbfbfb;
    box-shadow: 0px 1px 10px 0px rgba(0, 0, 0, 0.2);
}

#MainHeader nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    transition: all 0.7s ease;
}

#LogoLink {
    /* Logo link */
    text-decoration: none;
    width: 4em;
    transition: all 0.7s ease;
    color: var(--main-accent-color);
    font-family: 'Lato', sans-serif;
    text-align: center;
    font-size: 1.625rem;
    line-height: 1.6rem;
}

#MenuButton {
    font-size: 1.5rem;
    color: var(--main-accent-color);
    padding: 10px 15px;
    /* Bigger click area! */
}

#MenuButton .fa-bars {
    transition: all 0.75s ease, font-size 0.5s;
}

.rotationTransformActive {
    transform: rotateX(180deg);
}

#Menu a:link, #Menu a:active, #Menu a:visited, #Menu a:hover {
    text-decoration: none;
}

@media (max-width: 799px) {
    #Menu {
        /* Note this is hacked together to work with the Header.js script */
        position: absolute;
        top: 100%;
        left: 50%;
        transform: translate(-50%, 0%);
        background-color: #FFF;
        text-align: center;
        width: 70%;
        border-top: 0px solid var(--main-accent-color);
        padding: 0rem 1rem;
        max-height: 0px;
        box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.2);
        overflow: hidden;
        transition: all 0.5s ease;
    }
    #Menu a li {
        border-bottom: 1px solid #F0F0F0;
        padding: 10px 10%;
        transition: background-color 0.3s ease;
    }
    #Menu a:last-of-type li {
        border-bottom: none;
    }
    #Menu a:link, #Menu a:visited {
        color: #666;
    }
    #Menu a:active {
        color: #333;
    }
    #Menu a:hover {
        color: #555;
    }
    #Menu li:hover {
        background-color: #F8F8F8;
    }
}

@media (min-width: 800px) {
    #MenuButton {
        display: none;
    }
    #Menu ul {
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-end;
        align-items: center;
    }
    #Menu {
        width: 50%;
    }
    #Menu a {
        font-weight: 700;
        transition: all 0.3s ease;
        margin: 0 1em;
    }
    #Menu a:link, #Menu a:visited {
        color: var(--main-accent-color);
    }
    #Menu a:active {
        color: var(--main-accent-color)
    }
    #Menu a:hover {
        color: #4b1b1f;
    }
}

/* END Header */

/* Footer */

#MainFooter {
    color: #aaa;
    text-align: center;
}

#MainFooter a:link, #MainFooter a:active, #MainFooter a:visited, #MainFooter a:hover {
    text-decoration: none;
}

#MainFooter a:link, #MainFooter a:visited {
    color: #aaa;
}

#MainFooter a:active {
    color: #888;
}

#MainFooter a:hover {
    color: #999;
}

#MainFooter ul {
    padding-top: 4em;
}

#MainFooter li {
    margin: 1.25em;
    margin-top: 0em;
}

#MainFooter li:last-child {
    margin-bottom: 0em;
}

#MainFooter li a {
    margin: auto;
    text-align: center;
}

#MainFooter a.fab {
    font-size: 2.5rem;
    margin: 0rem 1rem;
}

#Copyright {
    font-size: 0.75rem;
    line-height: 1.15em;
    padding-top: 3rem;
    padding-bottom: 1em;
}

@media (min-width: 800px) {
    #MainFooter ul {
        display: flex;
        align-items: center;
        justify-content: space-around;
        max-width: 70%;
        margin: 0 auto;
        padding-top: 1em;
    }
    #MainFooter li {
        margin-bottom: 0rem;
    }
    #Copyright {
        padding: 1em;
    }
}

/* END Footer */

/* Background colors */

main>section:nth-child(even) {
    background-color: #F0F0F0
}

#MainFooter {
    background-color: #222222;
}

/* End Section Internal spacing */

/* Splash */

.splashContainer {
    position: relative;
}

.splashContainer img {
    display: block;
    /* This is needed to make image not have weird line height below it... (it's inline by default) */
}

.splashImageText {
    position: absolute;
    top: 21.31%;
    left: 50%;
    transform: translate(-50%, -50%);
    /* Tricky... % here is of the element's size, not parent element's! */
}

.splashText {
    padding: 4rem 0rem;
}

.splashText {
    margin: auto;
    width: 85%;
    max-width: 680px;
}

.splashText>*:last-child {
    padding-bottom: 0rem;
}

main>section:first-child .splashContainer {
    width: 100%;
}

main>section:first-child img {
    padding: 0rem;
    padding-top: 7rem;
    border-bottom: 1px solid grey;
}

.splashImageText h1 {
    padding: 0em 0.25rem;
    margin: 0rem;
}

@media (min-width: 800px) {
    .splashContainer img {
        padding: 0!important;
        margin: 0 auto;
        width: 100%;
    }
    .splashImageText {
        top: 40%;
        padding: 2rem;
        background-color: rgba(255, 255, 255, 0.65);
    }
    #SplashHeader {
        font-size: 2.5rem;
    }
}

/* END Splash */

/* Contact Form */

.RedSection {
    background-color: var(--main-accent-color)!important;
}

.RedSection h2, .RedSection h3, .RedSection p {
    color: white;
}

.hidden {
    position: absolute;
    left: -10000px;
    top: auto;
    width: 1px;
    height: 1px;
    overflow: hidden;
}

form input[type='text'], form textarea {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

form input[type='text'], form textarea {
    display: block;
    box-sizing: border-box;
    width: 100%;
    font-family: inherit;
    font-size: 1rem;
    border-radius: 5px;
    border: 1px solid #b9b9b9;
    padding: 15px;
    margin: 0px;
    margin-bottom: 1.25rem;
}

form textarea {
    height: 10rem;
}

form {
    padding: 2.5rem;
    margin-top: 2.5rem;
    margin-bottom: 4rem;
}

.formCard {
    background-color: #F0F0F0;
    border-radius: 20px;
    box-shadow: 1px 1px 20px 0px rgba(0, 0, 0, 0.2);
    width: 100%;
}

form button {
    background-color: var(--main-accent-color);
    border-radius: 5px;
    color: white;
    padding: 1rem;
    font-weight: 700;
    font-size: 0.9rem;
}

form .alightContentsRight {
    display: flex;
    justify-content: flex-end;
}

/* END Contact Form */

/* Blog specific */

.blogArticle h2 {
    padding: 1em 0em;
    text-align: left;
}

.blogArticle h3 {
    padding: 0.6em 0em;
    text-align: left;
}

.blogArticle .moreArticlesHeader, .blogArticle #ContactForm h2 {
    padding-top: 0;
    padding-bottom: 1.6em;
}

#TitleImage {
    padding-top: 0em;
    border: none;
}

.blogArticle .post-metadata {
    color: #666;
    font-size: 0.9rem;
    margin-bottom: -1rem;
}

/* Responsiveness */

.sectionContent {
    max-width: 680px;
    /* Recommended maximum for text content at 20px size */
}

.cardContent {
    max-width: 85%;
    margin-bottom: 2.25rem;
    /* Another hack because negative margins on bottom cause overlap and scrolling */
}

.listOfCards {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    margin: 0 -0.875rem;
}

.listOfCards figure {
    max-width: 440px;
    margin-left: 0.875rem;
    margin-right: 0.875rem;
}

.ServiceTypesSection .listOfCards figure {
    max-width: 390px;
}

.listOfCards figure {
    display: flex;
    flex-direction: column;
}

.listOfCards figure>div {
    flex-grow: 1;
    display: flex;
    /* HACK Apparently to center the header, I need a flex inside a flex inside a flex? Kek. */
    align-items: center;
}