/* RESET STYLES */

p, h1, h2, h3, blockquote, figure, header, body {
    margin: 0rem;
}

/* END RESET STYLES */



/* General section/content spacing */

.sectionContent {
    width: 85%;
    margin: 4rem auto;
}

p {
    padding-bottom: 0.7em;
}

h2 {
    padding-bottom: 1.6em;
}

h3 {
    padding-bottom: 0.7em;
}

.sectionContent>*:last-child {
    padding-bottom: 0rem;
}

main>section {
    margin: 0rem 0rem;
    overflow: auto;
}

/* END General spacing */




/* Misc */
img {
    max-width: 100%;
    height: auto;
}

header {
    border-bottom: 1px solid grey;
}

/* Figure/blockquote stuff... */
figure {
    background-color: #F0F0F0;
    border-radius: 20px;
    margin-bottom: 1.75rem;
    box-shadow: 1px 1px 20px 0px rgba(0, 0, 0, 0.2);
}

#BlogWidgets figure {
    box-shadow: 1px 1px 20px 0px rgba(0, 0, 0, 0.3); /* It is on a grey background, so darker */
}

figure img {
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
    display: block;
}

blockquote {
    padding: 1.5rem;
}

figcaption {
    text-align: center;
    padding: 1.5rem;
}

/* Background colors */
main>section:nth-child(even) {
    background-color: #F0F0F0
}



/* End Section Internal spacing */




/* Specific widgets */

#logo {
    max-width: 25%;
    height: auto;
}

/* END Specific widgets */



/* Splash */

.splashContainer {
    position: relative;
}

.splashContainer img {
    display: block; /* This is needed to make image not have weird line height below it... (it's inline by default) */
}

.splashImageText {
    position: absolute;
    top: 17.31%;
    left: 50%;
    transform: translate(-50%, -50%);
    /* Tricky... % here is of the element's size, not parent element's! */
}

.splashText {
    padding: 4rem 0rem;
}

.splashText {
    margin: auto;
    width: 85%;
}

.splashText>*:last-child {
    padding-bottom: 0rem;
}

main>section:first-child .splashContainer {
    width: 100%;
}

main>section:first-child img {
    padding: 0rem;
    padding-top: 3rem;
    border-bottom: 1px solid grey;
}

.splashImageText h1 {
    padding: 0em 0.25rem;
    margin: 0rem;
}

/* END Splash */